<footer class="footer panel">
    <div class="panel-body">

        <div class="container">
            <div class="version">version 0.0.1</div>
        </div>
        <hr>
        <p class="capyright">© Copyright Since 2015 KCG All Rights reserved.</p>
    </div>
</footer>
</div>

</body>
</html>
