<ul class="nav nav-tabs" style="background: #eee;">
    <li class="active">
        <a href="/">센서</a>
    </li>
    <li>
        <a href="/status">상태</a>
    </li>
    <li>
        <a href="/chart">통계</a>
    </li>
    <li>
        <a href="/settings">설정</a>
    </li>
</ul>