<% include ../header.ejs %>
<div class="panel">
    <ul class="nav nav-tabs"
        style="background: #eee;">
        <li class="active">
            <a href="/">센서</a>
        </li>
        <li>
            <a href="/setting">설정</a>
        </li>
        <li>
            <a href="/status">상태</a>
        </li>
        <li>
            <a href="/machineSupplyLog">통계</a>
        </li>
    </ul>
    <section class="home-container">

    </section>
</div>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"-->
<!--&gt;</script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>-->
<!--<script src="js/User.js">-->
<!--</script>-->


<% include ../footer.ejs %>