<div class="title pull-left"><%= _id %></div>
<time><%= regdt %></time>
<div class="pull-right">
    <a class="btn-load btn btn-info btn-xs">불러오기</a>
    <a class="btn-delete btn btn-danger btn-xs">삭제</a>
</div>