<td><%= _id + 1 %>구역</td>
<input name="section[]"
       type="hidden"
       value="<%= _id + 1 %>">
<td>
    <input id="sectionsupplytime<%= _id %>"
           name="sectionsupplytime[]"
           value=""
           type="text">
</td>
<!--반갑습니다.-->
<td>
    <input id="sectionsupplycc<%= _id %>"
           name="sectionsupplycc[]"
           value=""
           type="text">
</td>