<td>
    <a href="#/todo/<%= todo[config.COLUMN_ID] %>">
        <%= todo[config.COLUMN_TITLE] %>
    </a>
</td>
<td>
    <a href="#/todo/<%= todo[config.COLUMN_ID] %>">
        <%= todo[config.COLUMN_CONTENT] %>
    </a>
</td>
<td>
    <input type="button"
           value="del"
           data-action="del">
</td>