<a class="btn btn-edit btn-info"
   href="/#/">홈</a>
<a class="btn btn-edit btn-info change-mode">변경</a>
<input type='text'
       id='newTodo'
       value='newTodo'/>
<table id="tableTodo"
       class="table table-responsive table-bordered table-striped">
    <thead>
    <tr>
        <th>제목</th>
        <th>내용</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>