<td>
    <input type="text"
           name="<%= config.COLUMN_TITLE %>"
           value="<%= todo[config.COLUMN_TITLE] %>">
</td>
<td>
    <input type="text"
           name="<%= config.COLUMN_CONTENT %>"
           value="<%= todo[config.COLUMN_CONTENT] %>">
</td>
<td>
    <input type="submit"
           value="수정"
           data-action="update">
</td>